{% extends "base.html" %}

{% block title %}Bugs{% endblock %}

{% block navbar %}
<section class="content-header">
    <h1>逍遥游</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">老庄</li>
    </ol>
</section>
{% endblock %}

{% block content %}
    <br/>
    <br/>
<p>
北冥有鱼2，其名为鲲3。鲲之大，不知其几千里也4；化而为鸟，其名为鹏5。鹏之背，不知其几千里也；怒而飞6，其翼若垂天之云7。是鸟也，海运则将徙于南冥8。南冥者，天池也9。《齐谐》者10，志怪者也11。《谐》之言曰：“鹏之徙于南冥也，水击三千里12，抟扶摇而上者九万里13，去以六月息者也14。”野马也15，尘埃也16，生物之以息相吹也17。天之苍苍18，其正色邪19？其远而无所至极邪20？其视下也21，亦若是则已矣。且夫水之积也不厚22，则其负大舟也无力23。覆杯水于坳堂之上24，则芥为之舟25；置杯焉则胶26，水浅而舟大也。风之积也不厚，则其负大翼也无力27。故九万里，则风斯在下矣28，而后乃今培风29；背负青天，而莫之夭阏者30，而后乃今将图南31。蜩与学鸠笑之曰32：“我决起而飞33，抢榆枋而止34，时则不至35，而控于地而已矣36，奚以之九万里而南为37？”适莽苍者38，三餐而反39，腹犹果然40；适百里者，宿舂粮41；适千里者，三月聚粮42。之二虫又何知43！小知不及大知44，小年不及大年45。奚以知其然也？朝菌不知晦朔46，蟪蛄不知春秋47，此小年也。楚之南有冥灵者48，以五百岁为春，五百岁为秋；上古有大椿者49，以八千岁为春，八千岁为秋。此大年也。而彭祖乃今以久特闻50，众人匹之51，不亦悲乎52？
汤之问棘也是已53：“穷发之北54，有冥海者，天池也。有鱼焉，其广数千里，未有知其修者55，其名为鲲。有鸟焉，其名为鹏，背若泰山，翼若垂天之云；抟扶摇羊角而上者九万里56，绝云气57，负青天，然后图南，且适南冥也。斥鷃笑之曰58：‘彼且奚适也？我腾跃而上，不过数仞而下59，翱翔蓬蒿之间60，此亦飞之至也61。而彼且奚适也？’”此小大之辩也62。
故夫知效一官63、行比一乡64、德合一君、而征一国者65，其自视也66，亦若此矣67。而宋荣子犹然笑之68。且举世誉之而不加劝69，举世非之而不加沮70，定乎内外之分71，辩乎荣辱之境72，斯已矣73。彼其于世，未数数然也74。虽然75，犹有未树也76。夫列子御风而行77，泠然善也78，旬有五日而后反79。彼于致福者80，未数数然也。此虽免乎行，犹有所待者也81。若夫乘天地之正82，而御六气之辩83，以游无穷者84，彼且恶乎待哉85？故曰：至人无己86，神人无功87，圣人无名88。
尧让天下于许由89，曰：“日月出矣，而爝火不息90；其于光也，不亦难乎？时雨降矣，而犹浸灌91；其于泽也，不亦劳乎？夫子立而天下治92，而我犹尸之93；吾自视缺然94，请致天下95。”许由曰：“子治天下，天下既已治也；而我犹代子，吾将为名乎？名者，实之宾也96；吾将为宾乎？鹪鹩巢于深林97，不过一枝；偃鼠饮河98，不过满腹。归休乎君99，予无所用天下为100！庖人虽不治庖101，尸祝不越樽俎而代之矣102！”
肩吾问于连叔曰103：“吾闻言于接舆104，大而无当105，往而不反106。吾惊怖其言107。犹河汉而无极也108；大有径庭109，不近人情焉。”连叔曰：“其言谓何哉？”曰：“藐姑射之山110，有神人居焉。肌肤若冰雪，淖约若处子111，不食五谷，吸风饮露，乘云气，御飞龙，而游乎四海之外；其神凝112，使物不疵疠而年谷熟113。吾以是狂而不信也114。”连叔曰：“然。瞽者无以与乎文章之观115，聋者无以与乎钟鼓之声。岂唯形骸有聋盲哉116？夫知亦有之！是其言也犹时女也117。之人也118，之德也，将旁礴万物以为一119，世蕲乎乱120，孰弊弊焉以天下为事121！之人也，物莫之伤：大浸稽天而不溺122，大旱金石流，土山焦而不热。是其尘垢秕糠将犹陶铸尧舜者也123，孰肯以物为事124？”宋人资章甫而适诸越125，越人断发文身126，无所用之。尧治天下之民，平海内之政，往见四子藐姑射之山127，汾水之阳128，窅然丧其天下焉129。
惠子谓庄子曰130：“魏王贻我大瓠之种131，我树之成132，而实五石133。以盛水浆，其坚不能自举也。剖之以为瓠，则瓠落无所容134。非不呺然大也135，吾为其无用而掊之136。”庄子曰：“夫子固拙于用大矣。宋人有善为不龟手之药者137，世世以洴澼絖为事138。客闻之，请买其方百金。聚族而谋曰139：‘我世世为洴澼絖，不过数金，今一朝而鬻技百金140，请与之。’客得之，以说吴王141。越有难142，吴王使之将143，冬，与越人水战，大败越人。裂地而封之144。能不龟手一也145，或以封，或不免于洴澼絖，则所用之异也。今子有五石之瓠，何不虑以为大樽146，而浮于江湖，而忧其瓠落无所容？则夫子犹有蓬之心也夫147！”
惠子谓庄子曰：“吾有大树，人谓之樗148。其大本拥肿而不中绳墨149，其小枝卷曲而不中规矩150，立之涂151，匠人不顾。今子之言大而无用，众所同去也。”庄子曰：“子独不见狸狌乎152？卑身而伏，以候敖者153；东西跳梁154，不辟高下；中于机辟155，死于罔罟156。今夫斄牛157，其大若垂天之云。此能为大矣，而不能执鼠158。今子有大树，患其无用，何不树之于无何有之乡159，广莫之野160，彷徨乎无为其侧161，逍遥乎寝卧其下。不夭斤斧162，物无害者，无所可用，安所困苦哉！
</p>
{% endblock %}


{% block scripts %}

{% endblock %}

